@font-face {
    font-family: 'PrintChar21';
    src: url('fonts/PrintChar21.ttf') format('truetype');
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    color: lime;
    font-family: 'PrintChar21', monospace;
    overflow: hidden;
}

.menu-bar {
    background-color: rgb(35, 212, 0);
    color: black;
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    white-space: nowrap;
}

#terminal {
    width: 100%;
    height: calc(90% - 40px);
    padding: 10px;
    box-sizing: border-box;
    background-color: black;
    overflow-y: auto;
    white-space: pre-wrap;
    font-size: 18px;
    line-height: 1.4;
}

#progress-dots {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: lime;
    font-family: monospace;
    font-size: 18px;
    padding-bottom: 10px;
}

.cursor {
    display: inline-block;
    background-color: lime;
    width: 10px;
    animation: blink-animation 1s steps(2, start) infinite;
}

@keyframes blink-animation {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
``
